/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2017, 4:48:32 PM
    Author     : diSelmi
*/

#newFonctionInput {
    display: none;
}

.profile_picture_admin {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    background-color: #d8dadc;
}

.profile_picture_admin img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
}

.profile_title_admin {
    display: inline-block;
    vertical-align: bottom;
}

table .glyphicon {
    font-size: 16px;
    margin: 0 5px;
}



/* Formulaires */

#user_form_client {
    display: none;
}

/* Gallery */

.gallery-item {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.gallery-item img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-width: 150px;
}

a.disabled {
    /* Make the disabled links grayish*/
    color: #777 !important;
    /* And disable the pointer events */
    pointer-events: none;
}
.sidebar-menu>li:hover>a.disabled {
    border-left: 3px solid #777 !important;
    /*border-left-color: #777 !important;*/
    pointer-events: none;
}

/* admin lte */
.users-list>li {
    width: 150px !important;
    height: 150px !important;
    margin: 20px !important;
}
.users-list>li img {
    border-radius: 0 !important;
}
.chat_img_cont {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

/* chat */
.chat .item-from-me>.message-from-me {
    /*display: inline-block;*/
    margin-right: 55px;
    margin-top: -40px;
    text-align: right;
}
.item-from-me {
    /*direction: rtl;*/
    margin-bottom: 10px;
    text-align: right;
}

.chat .item-from-me>.offline {
    border: 2px solid #dd4b39;
}

.item img, .item-from-me img {
    width: 60px !important;
    height: 60px !important;
    border: 2px solid transparent;
    border-radius: 50%;
    border: 2px solid #dd4b39;
}

.item-from-me img {
   border: 2px solid #605ca8 !important; 
}

.contenu-msg {
    font-size: 16px;
}


.chat .message  {
    margin-left: 80px !important;
    margin-top: -60px !important;
}

.chat .message-from-me  {
    margin-right: 80px !important;
    margin-top: -60px !important;
}

.chat .name {
    /*display: table !important;*/
    font-weight: 600;
}

.chat .item-from-me>.message-from-me .date-from-me {
    direction: ltr;
}

.chat .attachement-from-me {
    border-radius: 3px;
    background: #f4f4f4;
    margin-top: 10px;
    margin-right: 65px;
    margin-left: 65px;
    padding: 10px;
}

.chat .filename {
    font-weight: 600;
    font-size: 13px;
    font-style: italic;
    display: inline-block;
}
